{{!< default}}

{{#post}}
	<article>
		<h2>{{title}}</h2>
		{{#if feature_image}}
			<div class="image-preview" style="background-image: url({{img_url feature_image}})"></div>
		{{/if}}
		{{content}}
	</article>
{{/post}}