@import 'variables';

// Author template
section.author{
	figure.col-md-2{
		img{
			width: 100%;
			border: $imgBorders;
		}
	}
	article{
		h2{
			line-height: 29px;
		}
		strong{
			font-weight: 400;
		}
	}
}