$green: #71A71D;
$black: #222222;
$white: #E6E6E6;
$margin: 20px;
$transition: all 0.4s ease;
$rotation: 15deg;
$txtSize: 19px;
$typeFace:'Source Sans Pro', Helvetica, Arial, sans-serif;
$imgBorders:  1px solid lighten($black, 15%);
